.brusnika:after{
	content: '';
	clear: both;
	display: table;
}

.brusnika .content{
	width: 66.66%;
	float: left;
}
.brusnika aside{
	width: ;33.33%	
	float: right;
}

.brusnika__example{
	padding-left: 30px;
}